.header {
    padding: 0 24px;
    height: 64px;
    box-sizing: border-box;
    .left {
        float: left;
        height: 100%;
    }

    .right {
        float: right;
        height: 100%;
    }
}

.main {
    min-height: calc(100vh - 64px - 72px);
    position: relative;
}

.footer {
    text-align: center;
    background-color: #f7f7f7;
    border-top: 1px solid #e8e8e8;
    height: 72px;
    box-sizing: border-box;
}