.layer-item {
  padding: 6px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  &:hover {
    .right {
      .btn {
        opacity: 1;
      }
    }
  }
}

.left {
  flex: auto;
  line-height: 2;
}

.right {
  min-width: 50px;
  text-align: end;
  .btn {
    opacity: 0.2;
  }
}

.title {
}

.selected {
  color: #1890ff;
}
